<div class = "busquedaArticulos">
    <ul>
        <li class="bannerBusquedaTodo">
            <div class="imagenBusquedaTodo" title="Danmachi Volumen 7 (Español)">
                <a href="index.html">
                    <img class="imagenBusqueda" src="../../assets/img/productos/danmachi-7.png" alt="Danmachi 7">
                </a>
                    <div class="descripcionBusqueda">
                        <a href="index.html">
                        <h2>Manga</h2>
                        <h3>Danmachi Volumen 7 (Español)</h3>
                        <p>$4640</p>
                        </a>
                        <a class="botonCarritoBusqueda">Añadir Al Carrito</a>
                    </div>
            </div>
        </li>
        <li class="bannerBusquedaTodo">
            <div class="imagenBusquedaTodo" title="Dragon Ball Super Cap 41-52 (Sub-Español)">
                <a href="index.html">
                    <img class="imagenBusqueda" src="../../assets/img/productos/dragon-ball-super-cap-41-a-52.png" alt="dragon-ball-super-cap-41-a-52">
                </a>
                    <div class="descripcionBusqueda">
                        <a href="index.html">
                        <h2>Anime</h2>
                        <h3>Dragon Ball Super Cap 41-52 (Sub-Español)</h3>
                        <p>$9500</p>
                        </a>
                        <a class="botonCarritoBusqueda">Añadir Al Carrito</a>
                    </div>
            </div>
        </li>
        <li class="bannerBusquedaTodo">
            <div class="imagenBusquedaTodo" title="7 Esferas De Dragon Ball">
                <a href="index.html">
                    <img class="imagenBusqueda" src="../../assets/img/productos/esferas-del-dragon-dragon-ball-z.png" alt="Esferas Del Dragón">
                </a>
                    <div class="descripcionBusqueda">
                        <a href="index.html">
                        <h2>Coleccionable</h2>
                        <h3>7 Esferas De Dragon Ball</h3>
                        <p>$10000</p>
                        </a>
                        <a class="botonCarritoBusqueda">Añadir Al Carrito</a>
                    </div>
            </div>
        </li>
        <li class="bannerBusquedaTodo">
            <div class="imagenBusquedaTodo" title="Peluche Pichu Pokemon">
                <a href="index.html">
                    <img class="imagenBusqueda" src="../../assets/img/productos/pichu-peluche-pokemon.png" alt="Pichu Peluche">
                </a>
                    <div class="descripcionBusqueda">
                        <a href="index.html">
                        <h2>Coleccionable</h2>
                        <h3>Peluche Pichu Pokemon</h3>
                        <p>$6000</p>
                        </a>
                        <a class="botonCarritoBusqueda">Añadir Al Carrito</a>
                    </div>
            </div>
        </li>
    </ul>
</div>