<div class = "busquedaArticulos">
    <table class="tablaTodo">
        <thead class = "tablaSeccion">
            <tr>
              <th>Nombre Producto</th>
              <th>Anime</th>
              <th>Tipo</th>
              <th>Precio</th>
              <th>Stock</th>
            </tr>
          </thead>
          <tbody class = "contenidoTabla">
            <tr *ngFor="let producto of productos" [ngClass]="producto.stock == 0 ? 'contenidoTablaSinStock':''">
            <td>{{producto.nombreProducto}}</td>
            <td>{{producto.anime}}</td>
            <td>{{producto.tipo}}</td>
            <td>{{producto.precio | currency}}</td>
            <td *ngIf ="producto.stock != 0; else sinStockPrecio" >{{producto.stock}}</td>
            <ng-template #sinStockPrecio>
                <td>{{"Agotado" | uppercase}}</td>
            </ng-template>
            </tr>
          </tbody>
      </table>
</div>