<nav>
    <ul>
        <li><a class="botonMenu" href="index.html">Inicio</a></li>
        <li><a class="botonMenu"href="index.html">Información</a></li>
    </ul>
    <li class="botonMenuTodo"><a class="botonMenuLogo"><img class="botonMenuLogo" src="../../assets/img/menu.png" alt="Menu"></a>
        <ul class="botonMenuTodoUl">
            <li><a class="botonMenu2" href="index.html">Inicio</a></li>
            <li><a class="botonMenu2"href="index.html">Información</a></li>
        </ul>
    </li>
</nav>
